button {
  margin:2rem auto;
  display:block;
  width: 100%;

  padding: 1rem;
  font-size: 1.5rem;

  background-color:#06B3EB;
  border:0;
  color: #fff;

  // box-shadow: 5px 5px 0 #035E7B;
  border-radius: 0;
  outline: 0;
  cursor: pointer;

  &:active {
    -webkit-transform: translateX(2px) translateY(2px);
    -webkit-transition: -webkit-transform 0.15s;
  }

  &.next {
    position:absolute;
    bottom: 0;
    margin-bottom: 0;
    // left: 12.5%;
    &:after {
      content:'  \25BA';
      font-size: 1rem;
      margin-left: 1rem;
    }
  }

}
