<article>
  <h2>Tips from the professionals...</h2>
  <p>Mayonnaise, often abbreviated as mayo, is a thick, creamy sauce often used as a condiment. It is a stable emulsion of oil, egg yolks and either vinegar or lemon juice,with many options for embellishment with other herbs and spices. Lecithin in the egg yolk is the emulsifier.</p>
</article>
