<article>
  <h1>First, prepare yourself</h1>
  <button class="remind-me">Remind me</button>
</article>

<script type="text/javascript">
  $('button.remind-me')[0].addEventListener('click',function(){
    callNative('remindMe',15, "Jello Time!");
  });
</script>
